<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>{{ title }}</h1>
        <form method="post"><table>
            <tr>
                {% for key in keys %}
                <th>{{ key }}</th>
                {% endfor %}
            </tr>
            {% for rowid, row in enumerate(rows) %}
            <tr>
                <td><input type="checkbox" name="row{{ rowid }}"></td>
                {% for key in keys %}
                <td>{{ row[key] }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        <input type="submit">
        </form>
    </body>
</html>
