<table>
    <tr>
        <th></th>
        {% for key in keys %}
        <th>{{ key }}</th>
        {% endfor %}
    </tr>
    {% for rowid, row in enumerate(rows) %}
    <tr>
        <td><input type="radio" name="{{row['QSID']}}" value="{{row['AID']}}"></td>
        {% for key in keys %}
        <td>{{ row[key] }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
