<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
            <h1>Quizotron 2000</h1>
            <p>Maybe you want to <a href="/add_question">add a question with answers</a> or <a href="/add_answer">add answer only</a> or <a href="/add_category">add category</a>.</p>
            {{ get_flashed_messages() }}
            {% if not session.get('username') %}
            <p>You can <a href="/register">register</a> or <a href="/login">log in</a>.</p>
            {% else %}
            <p>Welcome back {{session['username']}}.  You can <a href="/logout">log out here</a>.</p>
            {% endif %}
            <p>There are <a href="/view/players">{{players_count}} registered players</a>.</p>
        </header>
        <main>
            <section>
                We have <a href="/view/questions">{{questions_count}} question items</a>, <a href="/view/answers">{{answers_count}} answer items</a>, and <a href="/view/quizes"> {{ quizes_count }} quizes</a> in <a href="/view/categories"> {{ categories_count }} categories</a>.
            </section>
            <section>
                <h2>Statistics</h2>
                <ul>
                    <li><a href="/view/totalCorrectAnswers">most correct answers</a></li>
                    <li><a href="/view/quizScores">quiz scores</a></li>
                    <li><a href="/view/quizAverages">quizes by difficulty</a></li>
                    <li><a href="/view/categoryAverages">categories by difficulty</a></li>
                    <li><a href="/view/quiz_question_picks">most picked quizes</a></li>
                    <li><a href="/view/quizLengths ">quiz lengths</a></li>
                    <li><a href="/view/password_change_count  ">password changes count</a></li>
                </ul>
            </section>
        </main>
    </body>
</html>
