<form method="post">
<table>
    <tr>
        <th></th>
        {% for key in keys %}
        <th>{{ key }}</th>
        {% endfor %}
    </tr>
    {% for rowid, row in enumerate(rows) %}
    <tr>
        <td><input type="checkbox" name="{{title}}{{ rowid }}"></td>
        {% for key in keys %}
        <td>{{ row[key] }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
<input type=submit>
</form>
