<table>
    <tr>
        {% for key in keys %}
        <th>{{ key }}</th>
        {% endfor %}
    </tr>
    {% for rowid, row in enumerate(rows) %}
    <tr>
        {% for key in keys %}
        {% if key in selectables %}
        <td><input type="checkbox" name="{{title}}_{{key}}_{{rowid}}"
                   {% if row[key]==1 %}
                   checked
                   {% endif %}
            ></td>
        {% else %}
        <td>{{ row[key] }}</td>
        {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
</table>
