<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>{{ title.capitalize() }}</h1>
        <table>
            <tr>
                {% for key in keys %}
                <th>{{ key }}</th>
                {% endfor %}
            </tr>
            {% for row in rows %}
            <tr>
                {% for key in keys %}
                <td>{{ row[key] }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
