<h1>{{ title }}</h1>
<table>
    <tr>
        {% for key in keys %}
        <th>{{ key }}</th>
        {% endfor %}
    </tr>
    {% for row in rows %}
    <tr>
        {% for key in keys %}
        <td>{{ row[key] }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
