<table>
    <tr>
        <th></th>
        {% for key in keys %}
        <th>{{ key }}</th>
        {% endfor %}
    </tr>
    {% for rowid, row in enumerate(rows) %}
    <tr>
        <form method="post">
        <td>
            {% for key in keys %}
                <input type="hidden" name="{{ key }}" value="{{ row[key] }}">
            {% endfor %}
            <input type="submit" value="Update">
        </td>
        </form>
        {% for key in keys %}
        <td>{{ row[key] }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
