<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Update record in table: "{{ title }}"</h1>
        <form action="{{ url_for('update_record') }}" method="post">
            <input type="hidden" name="tblname" value="{{ title }}">
            {% for i, key in enumerate(keys) %}
                <label for="{{ key }}">{{ key }}</label>
                <input type="text" id="{{ key }}" name="{{ key }}" value="{{ values[i] }}" size="{{ len(values[i]) }}">
                <br>
            {% endfor %}
        <input type="submit" value="Update">
        </form>
    </body>
</html>
